<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <events timingLevel="custom">
      <event name="publish:end">
        <handler set:type="Sitecore.Support.Forms.Core.PublishItemExtension, Sitecore.Support.202373" type="Sitecore.Form.Core.PublishItemExtension, Sitecore.Forms.Core" method="PublishFormChildItems" />
      </event>
    </events>
  </sitecore>
</configuration>